:root {
    --primary-titles: hsl(14, 45%, 36%) ;
    --primary-subtitles:  hsl(332, 51%, 32%) ;
    --background: hsl(30, 54%, 90%);
    --main-text:hsl(30, 10%, 34%);
    --destak-text:hsl(24, 5%, 18%);

    
  }